
.home {

    background-color: #145318;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border: none;

}

.home:hover {

    background-color: #b2d4b4;

}

.formulario {

    border: 2px solid black;
    background-color: aliceblue;

}

.menu-btn {

    background-color: #145318;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border: none;

}

.menu-btn:hover {

    background-color: #b2d4b4;

}

.form-label {

    color: black;

}

.form-control {

    border: 2px solid black;

}